
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girl+Next+Door&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Merienda', cursive;
}

p {
    font-family: 'Girl Next Door', cursive !important;
}

header {
    background-color: #F0711D ;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 0;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: white;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}


section {
    background: white;
    padding: 0;
    border-radius: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: auto;
}
.hero-image {
    width: 150px;      /* adjust this number to your liking */
    height: auto;
    display: block;
    margin: 0 0 0 20px;
align-items: left;}

.hero-logo {
    text-align: left;
    width: auto;
    padding: auto;
    
    background-color: #DD1C1A  ;
}

.hero-box {
    text-align: left;
    width: auto;
    padding: auto;
    background-color: #E952DE;
    order: 1;
}

.assignments-box {
    order: 2;
    background-color: #FFBCB5;
}

.hero-box img {
    max-width: 200px;
    height: auto;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    margin-top: 40px;}